<section class="benefits-section">
  <link rel="stylesheet" href="/src/css/benefits.css">
  <div class="benefits-header">
    <div class="header-text">
      <h1 class="hend">
        <span class="benefits-highlight">BENEFITS</span> <span class="future">OF WORKING WITH ME</span>
      </h1>
    </div>
  </div>
  <ul class="benefits-list">
    <li class="expertise-item">
      <div class="icon">
        <svg width="24" height="24" aria-hidden="true">
          <use xlink:href="/src/img/sprite.svg#icon-user-benefits"></use>
        </svg>
      </div>
      <h3 class="tekst">Expertise</h3>
      <p class="panorama">With extensive experience in development, I have a deep understanding of programming and website development.</p>
    </li>
    <li class="benefit-item">
      <div class="icon">
        <svg width="24" height="24" aria-hidden="true">
          <use xlink:href="/src/img/sprite.svg#icon-message-chat-circle-benefits"></use>
        </svg>
      </div>
      <h3 class="tekst">Communication</h3>
      <p class="panorama">Understanding your needs and wants is my priority and I am always available for discussions and open to corrections.</p>
    </li>
    <li class="benefit-item">
      <div class="icon">
        <svg  width="24" height="24" aria-hidden="true">
          <use xlink:href="/src/img/sprite.svg#icon-brush-benefits"></use>
        </svg>
      </div>
      <h3 class="tekst">Art</h3>
      <p class="panorama">Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas to life.</p>
    </li>
    <li class="benefit-item">
      <div class="icon">
        <svg  width="24" height="24" aria-hidden="true">
          <use xlink:href="/src/img/sprite.svg#icon-hourglass-benefits"></use>
        </svg>
      </div>
      <h3 class="tekst">Urgent Execution</h3>
      <p class="panorama">I understand how important time is to you. Ready to work quickly and efficiently, without reducing the quality of work.</p>
    </li>
  </ul>
  <div class="background-decor">
    <img src="/src/img/bg-img/bg-desk-benefits.png" alt="Decor">
  </div>
</section>
