<header class="header">
  <div class="header-logo">Lloyd<span class="grin">Jefferson.</span></div>
  <nav class="header-menu">
    <button class="header-close" aria-label="Close menu">&times;</button>
    <ul class="header-nav">
      <li>
        <div class="switch">
          <input type="checkbox" id="switch" class="switch-input" />
          <label for="switch" class="switch-label"></label>
        </div>
      </li>
      <li class="header-nav-list"><a href="#about">About me</a></li>
      <li class="header-nav-list"><a href="#services">Projects</a></li>
      <li class="header-nav-list"><a href="#contacts">Contacts</a></li>
    </ul>
  </nav>
  <button class="header-burger" aria-label="Toggle menu">
    <span class="burger-icon"></span>
  </button>
</header>