.header-text{
top: 0px;
left: 32px;
vertical-align: middle;
text-align: left;
}
.panorama {
  font-family: "Poppins Light";
  font-weight: 400; 
  color: #555; 
  margin: 0; 
  text-align: left;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 24px;
}
.tekst{
  text-align: left;
  font-family: "Poppins Regular";
  font-weight: 600; 
  text-transform: uppercase; 
  font-size: 1.2rem;
  margin-bottom: 8px; 
  color: #333; 
  text-align: left;
}
.future {
  font-family: Impact;
  font-size: 108px;
  letter-spacing: 1.8px;
  line-height: 124px;
  color: #292929;
}
.benefits-highlight {
  color: #00B068;
  font-family: Impact;
  font-size: 108px;
  letter-spacing: 1.8px;
  line-height: 124px;
}
.benefits-section {
  background-color: #f0f0f0;
  width: 100%;
  margin: 0 auto;
  padding: 140px 32px 0 32px;
  display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 10px;
}
.benefits-section.dark-theme{
  background-color: #1E2023;
}

.benefits-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
  flex-direction: column; 
  max-width: 800px;
  max-height: 380px;
}
.hend {
  font-size: 136px;
letter-spacing: 1.8px;
  font-weight: bold;
  color: #000;
  margin: 0; 
}
.expertise-item {
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 16px;
padding: 0px;
border-radius: 16px;
  z-index: 2;
}
.icon {
  display: inline-block; /* Это нужно для выравнивания */
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.icon svg {
  fill: currentColor; /* Наследует цвет текста */
}
.benefits-list {
  list-style: none;
left: 0px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
gap: 32px;
padding: 0px;
}
.benefit-item {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  text-align: left; 
}
.background-decor {
  position: absolute;
  top: 48px;
  right: 32px;
  z-index: 1;
  width: 526px;
height: 408px;
}