:root {
  --light-black: #000000;
  --light-accent-green: #00ff00;
  --light-light-grey: #d3d3d3;
  --second-family: Arial, sans-serif;
  --font-family: 'Helvetica', sans-serif;
}

.footer {
  max-width: 100%;
  height: auto;
  min-width: 400px;
}
.container-mob {
  padding: 40px 20px 24px;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo-span {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--light-black);
  padding-left: 90px;
}

.logo-green-span {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--light-accent-green);
}

.footer-social-links {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: var(--light-black);
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;
  padding: 0 60px;
  list-style: none;
}

.footer-social-links a {
  text-decoration: none;
  color: var(--light-black);
  transition: color 0.3s ease;
}

.footer-social-links a:hover {
  color: var(--light-accent-green);
}

.footer-copyright {
  padding: 40px 0 24px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  color: var(--light-black);
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container-mob {
    padding: 40px 32px;
    max-width: 768px;

    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer-logo {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    padding-bottom: 32px;
  }
  .logo-span {
    padding: 0;
  }
  .footer-social-links {
    flex-direction: row;
    gap: 40px;
    padding: 0;
  }
  .footer-copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: right;
    padding: 40px 0 24px;
    margin-left: 180px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .container-mob {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px 32px 0;
  }
  .footer-social-links {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: -35px;
  }
  .top-position {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .footer-copyright {
    margin-left: 375px;
  }
}
