

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

    .header {
    padding: 10px 20px;
    /* background-color: #F0F0F0; */
    width: 100%;
    position: relative;
    z-index: 1000;
    overflow: hidden;
         
    }

.header-logo {
    width: 233px;
    height: 32px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #292929;
}

.grin {
    width: 0;
    height: 0;
    color: #00B068;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}


.header-nav {
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-nav-list {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #292929;
}

.header-nav-list a {
    color: #292929;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
}

.header-nav-list a:hover {
    color: #00B068;
}

.close-menu-btn {
    display: none;
}

.mob-menu-list {
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;

}

.switch-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E4E5E6;
    transition: background-color 0.3s;
    border-radius: 50px;
}

.switch-label::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #00B068;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    transition: transform 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.switch-input:checked+.switch-label {
    background-color: #292929;
}

.switch-input:checked+.switch-label::before {
    transform: translateX(24px);
}

.switch {
    display: none;
}

@media screen and (max-width: 420px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        /* background-color: #F0F0F0; */
        background-size: cover;
        background-repeat: no-repeat;
        padding: 20px;
        box-sizing: border-box;
        z-index: 1100;
    }


    .header-logo {
        width: 180px;
        height: 24px;
        display: block;
        position: absolute;
        font-size: 20px;
        white-space: nowrap;
        margin-left: 0;
        z-index: 1100;
    }

    .header-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(240, 240, 240, 0.95);
        background-image: url('../img/svg-icons/symbol-defs.svg');
        background-size: cover;
        background-repeat: no-repeat;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1200;
    } 
    

.js-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.js-menu-container.active {
    transform: translateY(0);
}

.mob-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.mob-menu-list a {
    text-decoration: none;
    /* transition: color 0.3s ease; */
    font-family: var(--font-family);
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.03em;
        color: #292929;
}

.mob-menu-list a:hover {
    color: #00B068;
}

.mob-menu-icon line {
    stroke: white;
    stroke-width: 3px;
}

.js-close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
}
 .open-menu-btn {
     display: flex !important;
     align-items: center;
     justify-content: center;
     position: absolute;
     top: 10px;
     right: 10px;
     z-index: 1200;
     background: none;
     border: none;
     cursor: pointer;
 }

  .header-nav {
      display: none;
  }
}

@media screen and (min-width: 768px) {
    .header {
        padding: 28px 32px;
    }

.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

.mob-menu.active {
    transform: translateY(0);
 
}

.mob-menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.mob-menu-list li {
    margin: 20px 0;
}

.mob-menu-list a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.mob-menu-list a:hover {
    color: #00B068;
}

.js-open-menu {
    cursor: pointer;
}

.js-close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

  .open-menu-btn {
      display: none;
  }


}

@media screen and (min-width: 1158px) {
    .header {
        padding: 32px;
    }

    .switch {
        display: inline-block;
    }
}

.open-menu-btn {
    display: none;
}

body.dark-theme {
    background-color: #292929;
    color: white;
}

body.dark-theme a {
    color: white;
}

body.dark-theme a:hover {
    color: #00B068;
}

body.dark-theme .header-logo {
    color: #ffffff;
    /* Логотип стає білим */
}

body.dark-theme .header-nav-list a {
    color: #ffffff;
}

body.dark-theme .header-nav-list a:hover {
    color: #00B068;
}

body.dark-theme .mob-menu-list a {
    color: #ffffff;
}

body.dark-theme .mob-menu-icon line {
    stroke: white;

}